@import url(composants/header.css);
@import url(composants/footer.css);

body{
    background-color: rgb(246, 243, 238);
}

.titreétude p{
    font-size: 55%;
}

.container{
    display: flex;
    margin-top: 5%;
}

.container:hover{
    box-shadow: 15px 10px 10px rgb(186, 181, 175);   
    background-color: white;
}

.bloc1 img{
    height: 100%;
    width: 80%;
}

.bloc2{
    margin-top: 3%;
}

.container2{
    border: 1px gray;
    display: flex;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 2%;
}

.container2:hover{
    box-shadow: 15px 10px 10px rgb(186, 181, 175);  
    background-color: white;
}

.blocloisir1{
    margin-top: 5%;
}

.blocloisir2 img{
    height: 70%;
    width: 80%;
    margin-top: 10%;
}

h5{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.slider{
    height: 35%;
    width: 35%;
    margin: 3% auto;
}

.edesign{
    color: #000;
}

.marketing{
    color: #000;
}

@media screen and (max-width: 1024px){

    html{
        width: max-content;
        height: max-content;
    }

    header nav{
        width: 100%;
    }

    .hover1{
        margin-left: 10%;
    }
    
    .hover2{
        margin-left: 10%;
    }
    
    .hover3{
        margin-left: 10%;
    }
    .titreétude p{
        font-size: 55%;
    }

    footer{
        width: 100%;
    }
}

@media screen and (min-width: 390px) and (max-width: 480px){
    
    .bloc2{
        margin-right: 20%;
    }
    .container2{
        margin-right: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 390px){
    header nav{
        padding-right: 35%;
    }
    .bloc2{
        margin-right: 35%;
    }
    .container2{
        margin-right: 33%;
    }
    .slider{
        margin-left: 20%;
    }
    footer{
        padding-right: 35%;
    }
}